.form{
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form>div{ 
    align-self: center;
}
.loginImage{
    height:30vh;
    width:30vw;
}
.Box{
    border-radius: 5px;
    box-shadow:
            inset 0 -3em 3em rgba(81, 128, 222, 0.1),
            0 0 0 2px #8FE3CF,
            0.3em 0.3em 1em rgba(239, 233, 233, 0.3);
    
    justify-content: center;
    background-color: #8FE3CF;
    width: 40vw;
    padding: 60px;
    margin: 10px;
}
.Box > div{
    width: 100%;
}
.TextField{
    color: rgb(247, 247, 247) !important;
    border-color: rgb(255, 255, 255);
    
    width: 100%;
}
.submitBtn{
    text-align: center;
}